<!-- Partial allows me to reuse the form across multiple pages, it starts with the underscore symbol -->

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.text_field :title, placeholder: " Title" %>
  </div>
  <br>

  <div>
    <%= f.text_area :description, placeholder: " Description" %>
  </div>
  <br>

  <div class="center-item">
    <%= f.submit "Create post"%>
  </div>
<% end %>
